.DS_Store
.idea/
.vite-ssg-dist
.vite-ssg-temp
*.crx
*.local
*.log
*.pem
*.xpi
*.zip
*.todo
dist
dist-ssr
temp
extension/
extension-firefox/
extension-safari/
node_modules
web-ext-profile
extension-safari-macos/